<a href="https://colab.research.google.com/github/Wueryi521/0425python/blob/main/4_%E5%BB%BB%E5%9C%88loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=range(10)
print(list1)

print(list(list1))

In [ ]:
list2=range(-4,5)
print(list(list2))

In [ ]:
list3=range(-4,5,2)
print(list(list3))

In [ ]:
list4=range(-4,6,2)
print(list(list4))

In [ ]:
for n in range(5):
  print(n)

In [ ]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

In [ ]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

In [ ]:
x = int(input("請輸入一個正整數:"))

mysum = 0

for n in range(x+1): ## 為什麼不是range(x)?
  mysum += n

print(mysum)

In [ ]:

numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

In [ ]:
total = i = 1

n = int(input("請輸入正整數 n 的值：")) # 再問一次:為什麼要加

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

In [ ]:
n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

In [ ]:
for x in range(19):
  print(x)

In [ ]:
for x in range(0,19,2):
  print(x)

In [ ]:
for x in range(20,11,-1):
  print(x)

In [ ]:
for x in range(0,19,-1):
  print(x)

In [ ]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

In [ ]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

In [ ]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

In [ ]:

i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)